/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
}

/* Variables */
:root{
    --blue : #1d809f;
    --black : #212529;
    --white : #ffffff;
    --shady-white : #f8f9fa;
}

/* Custom Classes */
.btn-xl{
    padding: 1.2rem 2.5rem;
}

/* Styling */

/* ============== */
/* Header */
.header{
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(90deg ,rgba(255,255,255,0.1),rgba(255,255,255,0.1)),url("assets/bg-masthead.jpg");
    background-size: cover;
    background-position: center;
}
.header button{
    background: var(--blue);    
}
.header h1{
    font-size: 5.5rem;
}
@media screen and (max-width:992px){
    .header h1{
        font-size: 4rem;
    }
}

/* ============== */
/* About */
.about{
    background-color: var(--shady-white);
    padding: 7.5rem 0;
}
.about a{
    color: #17667F;
}

/* ============== */
/* Callout */
.callout{
    padding: 15rem 0;
    background: linear-gradient(90deg ,rgba(255,255,255,0.1),rgba(255,255,255,0.1)),url("assets/bg-callout.jpg");
    background-size: cover;
    background-position: center;
}
.callout h1{
    font-size: 3.5rem;
}
.callout button{
    background: var(--blue);
}

/* ============== */
/* Call to Action */
.call-to-action{
    background-color: var(--blue);
    padding: 7.5rem 0;
}

/* ============== */
/* Footer */
.footer{
    padding: 5rem 0;
}
.icons-list{
    gap: 0.8rem;
}
.icon-container{
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.icon-container:hover{
    background-color: #155d74;
}
.footer small{
    color: #6C757D;
}

/* ============== */
/* Scroll to Top */
.scroll-to-top{
    position: fixed;
    padding: 0.8rem 1rem;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(0,0,0,0.4);
    color: var(--white);
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
}
.scroll-to-top a{
    color: var(--white);
    text-decoration: none;
}
.scroll-to-top:hover{
    background-color: rgba(0,0,0,0.8);
}